[build-system]
requires = ["uv_build>=0.9.17,<0.10.0"]
build-backend = "uv_build"

[project]
name = "hello-uv"
version = "0.1.0"
requires-python = ">=3.14"
dependencies = []

[project.scripts]
hello-uv = "hello_uv.__main__:main"
